@page "/contests"
@using System.Data
@using Microsoft.AspNetCore.Mvc
@using NpgsqlTypes
@inject Database Db
@inject AdminSession Admin
@inject IJSRuntime JS

<div class="x-container" @ref="selfRef">
<h1>Контесты</h1>

@if (Contests_ == null)
{
    <p>Загрузка...</p>
}
else if (Contests_.Count == 0)
{
    <p>Контесты отсутствуют.</p>
}
else
{
    <div class="filters-row">

        <div class="filter-block">
            <label class="filter-label">Поиск</label>
            <input @bind="FilterName"
                   type="text"
                   placeholder="Название контеста"
                   class="filter-input filter-name" />

        </div>

        <div class="filter-block">
            <label class="filter-label">Сложность</label>
            <select @bind="FilterYear" class="filter-input">
                <option value="0">Любой год</option>
                @foreach (var y in Years)
                {
                    <option value="@y">@y</option>
                }
            </select>
        </div>
        
        <div class="filter-buttons">
            <button @onclick="ApplyFilters" class="btn-primary">Фильтровать</button>
            <button @onclick="ResetFilters" class="btn-secondary">Сбросить</button>
        </div>

    </div>
    <table class="x-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Год</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var c in Contests_)
            {
                <tr @key="c.IdContest">
                    <td id="contest-name-@c.IdContest">@c.NameContest</td>
                    <td id="contest-year-@c.IdContest">@c.YearContest</td>
                </tr>
            }
        </tbody>
    </table>
}

    @if (Admin.IsAdmin)
    {
        <div class="tag-add">
            <input @bind="nameInput" type="text" placeholder="Название" />
            <input @bind="yearInput" type="number" maxlength="4" placeholder="Год" />
            <button @onclick="ContestsAdd">Добавить</button>
        </div>
    }
    <div id="contest-delete-dialog"
         style="display:none; position:fixed; inset:0;
            background:rgba(0,0,0,0.45); backdrop-filter:blur(4px);
            align-items:center; justify-content:center; z-index:9999;">

        <div style="background:var(--surface); padding:20px; border-radius:12px; width:260px;
                font-family:var(--font-main); text-align:center;
                border:1px solid var(--surface-border); backdrop-filter:blur(16px);">

            <div style="margin-bottom:15px; font-size:var(--fs-table); color:var(--grey-50);">
                Удалить контест?
            </div>

            <div style="display:flex; gap:10px; justify-content:center;">

                <button id="contest-del-yes"
                        style="padding:10px 14px; border-radius:6px; cursor:pointer;">
                    Удалить
                </button>

                <button id="contest-del-no"
                        style="padding:10px 14px; border-radius:6px; cursor:pointer;">
                    Отмена
                </button>

            </div>
        </div>
    </div>
</div>
    
@code {
    private string nameInput;
    private int yearInput;
    private bool IsEditing = false;
    private string FilterName = "";
    private int FilterYear = 0;
    
    private List<ContestItem>? Contests_;
    private ElementReference selfRef;
    private DotNetObjectReference<Contests> selfObj;
    
    private List<int?> Years = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadContestsAsync();
    }

    private async Task LoadContestsAsync()
    {
        Contests_ = new();

        using var conn = Db.GetConnection();
        await conn.OpenAsync();

        string sql = @"
            SELECT
                id_contest,
                name_contest,
                year_contest
            FROM contests
            ORDER BY id_contest;
        ";

        using var cmd = new Npgsql.NpgsqlCommand(sql, conn);
        using var reader = await cmd.ExecuteReaderAsync();

        while (await reader.ReadAsync())
        {
            Contests_.Add(new ContestItem
                {
                    IdContest = reader.GetInt32(0),
                    NameContest = reader.GetString(1),
                    YearContest = reader.IsDBNull(2) ? 0 : reader.GetInt32(2)
                });
        }
        
        if (Contests_ != null)
        {
            foreach (var year in Contests_)
            {
                if (!Years.Contains(year.YearContest) && year.YearContest != 0)
                {
                    Years.Add(year.YearContest);
                }
            }

            Years.Sort();
        }
    }

    public class ContestItem
    {
        public int IdContest { get; set; }
        public string NameContest { get; set; } = "";
        public int YearContest { get; set; } = 0;
    }

    private async Task ContestsAdd()
    {
        if (yearInput < 2000 || yearInput > 2025)
        {
            //вывод сообщения о неверности данных
        }
        else
        {
            using var conn = Db.GetConnection();
            await conn.OpenAsync();

            string sql = @"
            INSERT INTO contests (name_contest, year_contest)
            VALUES (:name, :year)
            ";

            using var cmd = new Npgsql.NpgsqlCommand(sql, conn);

            cmd.Parameters.Add(new NpgsqlParameter
                {
                    ParameterName = "name",
                    Value = nameInput
                });
            cmd.Parameters.Add(new NpgsqlParameter
                {
                    ParameterName = "year",
                    Value = yearInput
                });

            await cmd.ExecuteNonQueryAsync();
            //вывод сообщеения об успешном добавлении в бд
            
            await LoadContestsAsync();
            nameInput = "";
            yearInput = 0;
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Contests_ == null)
            return;

        foreach (var t in Contests_)
            await JS.InvokeVoidAsync("ContestsInterop.bindRowEventsById", t.IdContest);
        if (firstRender)
        {
            selfObj = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("ContestsInterop.setComponent", selfObj);
        }

    }
    
    private async Task ApplyFilters()
    {
        await LoadContestsAsync();
        
        if (!string.IsNullOrWhiteSpace(FilterName))
        {
            string f = FilterName.ToLower();
            Contests_ = Contests_.Where(n =>
                (n.NameContest?.ToLower().Contains(f) ?? false)).ToList();
        }
        
        if (FilterYear != 0)
        {
            Contests_ = Contests_.Where(y => y.YearContest == FilterYear).ToList();
        }
        StateHasChanged();
    }

    private async Task ResetFilters()
    {
        FilterName = "";
        FilterYear = 0;
        await LoadContestsAsync();
        StateHasChanged();
    }
    
    //JS
    [JSInvokable]
    public void StartEdit()
    {
        IsEditing = true;
    }

    [JSInvokable]
    public async Task RequestContestDelete(int id)
    {
        if (Admin.IsAdmin)
            await DeleteContest(id);
    }

    [JSInvokable]
    public async Task RequestContestRename(int id, string newElem, string type)
    {
        if (Admin.IsAdmin)
            await RenameContest(id, newElem, GetRenameContestType(type));
    }
    
    [JSInvokable]
    public async Task JsLoadContestsAsync()
    {
        if (Admin.IsAdmin)
            await LoadContestsAsync();
    }
    
    //переименование
    public enum RenameContestType
    {
        Name,
        Year
    }

    private RenameContestType GetRenameContestType(string type)
    {
        return type switch
        {
            "name" => RenameContestType.Name,
            "year" => RenameContestType.Year,
            _ => throw new Exception()
        };
    }
    
    public async Task RenameContest(int id, string value, RenameContestType type)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            await JS.InvokeVoidAsync("alert", "Название не может быть пустым");
            return;
        }

        await using var conn = Db.GetConnection();
        await conn.OpenAsync();

        NpgsqlCommand cmd;
        switch (type)
        {
            case RenameContestType.Name:
                var sql = "UPDATE contests SET name_contest = :name WHERE id_contest = :id";

                cmd = new Npgsql.NpgsqlCommand(sql, conn);
                cmd.Parameters.AddWithValue("name", value);
                break;
            case RenameContestType.Year:
                sql = "UPDATE contests SET year_contest = :year WHERE id_contest = :id";

                cmd = new Npgsql.NpgsqlCommand(sql, conn);
                int intValue;
                if (!int.TryParse(value, out intValue))
                    throw new Exception("Year was not a number!");
                cmd.Parameters.AddWithValue("year", intValue);
                break;
            default:
                throw new Exception();
        }
        cmd.Parameters.AddWithValue("id", id);
        await cmd.ExecuteNonQueryAsync();
        
        IsEditing = false;

        await LoadContestsAsync();
        await InvokeAsync(StateHasChanged);

    }
    
    //удаление
    public async Task DeleteContest(int id)
    {
        try
        {
            using var conn = Db.GetConnection();
            await conn.OpenAsync();

            string checkSql = "SELECT COUNT(*) FROM task_contests WHERE id_contest = :id";

            //проверка
            using var checkCmd = new Npgsql.NpgsqlCommand(checkSql, conn);
            checkCmd.Parameters.AddWithValue("id", id);
            int inUse = Convert.ToInt32(await checkCmd.ExecuteScalarAsync());

            if (inUse > 0)
            {
                await JS.InvokeVoidAsync("alert", "Контест используется в задачах. Удаление невозможно.");
                return;
            }

            //удаление
            string sql = "DELETE FROM contests WHERE id_contest = :id";
            using var cmd = new Npgsql.NpgsqlCommand(sql, conn);
            cmd.Parameters.AddWithValue("id", id);
            int rows = await cmd.ExecuteNonQueryAsync();

            //обновление
            await LoadContestsAsync();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            System.Diagnostics.Debug.WriteLine(ex.Message);
            throw;
        }
    }
}