@page "/contests"

<h1>Контесты</h1>

<div class="contests-table">
    [таблица контестов позже]
</div>

<div class="contest-add">
    <input type="text" placeholder="Название" />
    <input type="number" placeholder="Год" />
    <button>Добавить</button>
</div>
