.nav-panel {
    white-space: nowrap;
    overflow-x: clip;
}


.mobile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background: rgba(0,0,0,0.9);
    padding: 10px;
}

     ������� � ����� ���� ����� open 
    .mobile-menu.open {
        display: block;
    }

 �� ���������: ��������� ���� ������, ������ ����� 
.mobile-only {
    display: none !important;
}

.desktop-only {
    display: flex !important;
}

 ��������� ����� 
@media (max-width: 768px) {

    .mobile-only {
        display: block !important;
    }

    .desktop-only {
        display: none !important;
    }
}

